:root {
  --primary-color: #ffcc00;
  --secondary-color: #111;
  --text-color: #fff;
  --background-dark: #121212;
  --accent-color: #ff4500;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-dark);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
  }
  